body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  width: 230px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 10px 20px 30px rgba(173, 171, 171, 0.2);
}

.description {
  width: 200px;
}

.description h2 {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.description p {
  text-align: center;
  align-content: center;
  font-size: 12px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.qr-code {
  border-radius: 7px;
  width: 225px;
}

.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  .mainContainer {
    width: 300px;
  }
  .description {
    width: 270px;
  }
  .qr-code {
    width: 295px;
  }
  .description h2 {
    font-size: 22px;
  }
  .description p {
    font-size: 15px;
  }
}
